name: Build APK
on: [push, workflow_dispatch] # Сборка запускается при каждом сохранении кода

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install Cython==0.29.33 buildozer

      - name: Build APK with Buildozer
        run: |
          # Этот шаг создаст конфиг и запустит сборку в режиме Android Debug
          yes | buildozer init
          # Подменяем в конфиге настройки на те, что работают в облаке
          sed -i 's/# android.accept_sdk_license = False/android.accept_sdk_license = True/' buildozer.spec
          buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: my-app-apk
          path: bin/*.apk
